* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
html, body {
    height: 100%;
}
main {
    height: calc(100% - 50px);
}
section {
    display: none;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.movie {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.movie-preview {
    float: left;
    width: 70px;
    height: 104px;
}
.movie-preview img {
    width: 100%;
}
.movie-introduce {
    float: left;
    width: calc(100% - 80px);
    margin-left: 10px;
}
.movie-title {
    font-weight: bold;
}
.movie-detail {
    color: #999;
    font-size: 12px;
    line-height: 1.2;
    margin-top: 4px;
}
.score {
    color: #FF5722;
}
.search-input {
    float: left;
    margin-right: 5px;
    height: 34px;
    width: calc(100% - 65px);
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.search-btn {
    float: left;
    height: 34px;
    width: 60px;
    background-color: #FF5722;
    color: #fff;
    border-radius: 3px;
    border: 1px solid #FF5722;
    cursor: pointer;
}
.no-more {
    margin-top: 10px;
    text-align: center;
    color: #ccc;
}
.loading {
    text-align: center;
    margin-top: 10px;
}
.loading .iconfont{
    display: inline-block;
    animation: 1s rotate linear infinite;
}
@keyframes rotate {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}
footer {
    display: flex;
    border-top: 1px solid #ccc;
    height: 50px;
    color: #666;
    font-size: 14px;
}
.active {
    color: #FF5722;
}
footer div{
    flex: 1;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}
footer div i,
footer div span {
    display: inline-block;
    width: 100%;
}